<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web_text</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>web_text.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>web_text.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherChange</display-name>
    <servlet-name>TeacherChange</servlet-name>
    <servlet-class>teacher.TeacherChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherChange</servlet-name>
    <url-pattern>/TeacherChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeaQuery</display-name>
    <servlet-name>TeaQuery</servlet-name>
    <servlet-class>teacher.TeaQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaQuery</servlet-name>
    <url-pattern>/TeaQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeaUpate</display-name>
    <servlet-name>TeaUpate</servlet-name>
    <servlet-class>teacher.TeaUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaUpate</servlet-name>
    <url-pattern>/TeaUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemQuery</display-name>
    <servlet-name>ItemQuery</servlet-name>
    <servlet-class>teacher.ItemQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemQuery</servlet-name>
    <url-pattern>/ItemQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemAdd</display-name>
    <servlet-name>ItemAdd</servlet-name>
    <servlet-class>teacher.ItemAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemAdd</servlet-name>
    <url-pattern>/ItemAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDelete</display-name>
    <servlet-name>ItemDelete</servlet-name>
    <servlet-class>teacher.ItemDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDelete</servlet-name>
    <url-pattern>/ItemDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemQueryAll</display-name>
    <servlet-name>ItemQueryAll</servlet-name>
    <servlet-class>teacher.ItemQueryAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemQueryAll</servlet-name>
    <url-pattern>/ItemQueryAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuAdd</display-name>
    <servlet-name>StuAdd</servlet-name>
    <servlet-class>admin.StuAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuAdd</servlet-name>
    <url-pattern>/StuAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeaAdd</display-name>
    <servlet-name>TeaAdd</servlet-name>
    <servlet-class>admin.TeaAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaAdd</servlet-name>
    <url-pattern>/TeaAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuQuery</display-name>
    <servlet-name>StuQuery</servlet-name>
    <servlet-class>admin.StuQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuQuery</servlet-name>
    <url-pattern>/StuQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuDelete</display-name>
    <servlet-name>StuDelete</servlet-name>
    <servlet-class>admin.StuDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuDelete</servlet-name>
    <url-pattern>/StuDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuUpdate</display-name>
    <servlet-name>StuUpdate</servlet-name>
    <servlet-class>admin.StuUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuUpdate</servlet-name>
    <url-pattern>/StuUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeaQueryAll</display-name>
    <servlet-name>TeaQueryAll</servlet-name>
    <servlet-class>admin.TeaQueryAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaQueryAll</servlet-name>
    <url-pattern>/TeaQueryAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeaReset</display-name>
    <servlet-name>TeaReset</servlet-name>
    <servlet-class>admin.TeaReset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaReset</servlet-name>
    <url-pattern>/TeaReset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeaDelete</display-name>
    <servlet-name>TeaDelete</servlet-name>
    <servlet-class>admin.TeaDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaDelete</servlet-name>
    <url-pattern>/TeaDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IQByid</display-name>
    <servlet-name>IQByid</servlet-name>
    <servlet-class>admin.IQByid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IQByid</servlet-name>
    <url-pattern>/IQByid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuCount</display-name>
    <servlet-name>StuCount</servlet-name>
    <servlet-class>admin.StuCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuCount</servlet-name>
    <url-pattern>/StuCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITquery</display-name>
    <servlet-name>ITquery</servlet-name>
    <servlet-class>admin.ITquery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITquery</servlet-name>
    <url-pattern>/ITquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuChange</display-name>
    <servlet-name>StuChange</servlet-name>
    <servlet-class>Student.StuChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuChange</servlet-name>
    <url-pattern>/StuChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuQbyid</display-name>
    <servlet-name>StuQbyid</servlet-name>
    <servlet-class>Student.StuQbyid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuQbyid</servlet-name>
    <url-pattern>/StuQbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuInfo</display-name>
    <servlet-name>StuInfo</servlet-name>
    <servlet-class>Student.StuInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuInfo</servlet-name>
    <url-pattern>/StuInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scInsert</display-name>
    <servlet-name>scInsert</servlet-name>
    <servlet-class>Student.scInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scInsert</servlet-name>
    <url-pattern>/scInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SCQuery</display-name>
    <servlet-name>SCQuery</servlet-name>
    <servlet-class>Student.SCQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCQuery</servlet-name>
    <url-pattern>/SCQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScDelete</display-name>
    <servlet-name>ScDelete</servlet-name>
    <servlet-class>Student.ScDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScDelete</servlet-name>
    <url-pattern>/ScDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SCTQuery</display-name>
    <servlet-name>SCTQuery</servlet-name>
    <servlet-class>Student.SCTQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCTQuery</servlet-name>
    <url-pattern>/SCTQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeaTrue</display-name>
    <servlet-name>TeaTrue</servlet-name>
    <servlet-class>Student.TeaTrue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaTrue</servlet-name>
    <url-pattern>/TeaTrue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISUpdate</display-name>
    <servlet-name>ISUpdate</servlet-name>
    <servlet-class>admin.ISUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISUpdate</servlet-name>
    <url-pattern>/ISUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSend</display-name>
    <servlet-name>AdminSend</servlet-name>
    <servlet-class>teacher.AdminSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSend</servlet-name>
    <url-pattern>/AdminSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSelect</display-name>
    <servlet-name>AdminSelect</servlet-name>
    <servlet-class>teacher.AdminSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSelect</servlet-name>
    <url-pattern>/AdminSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KQuery</display-name>
    <servlet-name>KQuery</servlet-name>
    <servlet-class>teacher.KQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KQuery</servlet-name>
    <url-pattern>/KQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TQuery</display-name>
    <servlet-name>TQuery</servlet-name>
    <servlet-class>teacher.TQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TQuery</servlet-name>
    <url-pattern>/TQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTime</display-name>
    <servlet-name>UpdateTime</servlet-name>
    <servlet-class>admin.UpdateTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTime</servlet-name>
    <url-pattern>/UpdateTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdTime</display-name>
    <servlet-name>AdTime</servlet-name>
    <servlet-class>admin.AdTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdTime</servlet-name>
    <url-pattern>/AdTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SCCCount</display-name>
    <servlet-name>SCCCount</servlet-name>
    <servlet-class>Student.SCCCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCCCount</servlet-name>
    <url-pattern>/SCCCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeC</display-name>
    <servlet-name>GradeC</servlet-name>
    <servlet-class>Student.GradeC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeC</servlet-name>
    <url-pattern>/GradeC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SSgrade</display-name>
    <servlet-name>SSgrade</servlet-name>
    <servlet-class>admin.SSgrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSgrade</servlet-name>
    <url-pattern>/SSgrade</url-pattern>
  </servlet-mapping>
</web-app>